body {
    margin: 0;
    padding: 0;
  }
  
  section {
    width: 100%;
    height: 100%;
    background:#fcbf49;
    color: #f77f00;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    position: absolute;
  }
  
  section .sliding {
    position: absolute;
    top: 50%;
    white-space: nowrap;
    font-size: 15em;
    line-height: 220px;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
    -webkit-animation: slide 25s linear infinite;
            animation: slide 25s linear infinite;
  }
  
  section .wrapper {
    height: 100%;
    width: 50%;
    background: #f78000d0;
    overflow: hidden;
    color: #fcbf49;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  section .wrapper span {
    padding-bottom: 15px;
  }
  
  @-webkit-keyframes slide {
    0% {
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
    }
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }
  
  @keyframes slide {
    0% {
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
    }
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }